body {
    background: lightgrey;
}

.header {
    height: 64px;
    line-height: 64px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 999;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    padding-bottom: 90px;
    overflow: hidden;
}

.main-content {
    width: 43%;
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    color: #212529;
}

.slider {
    width: 100%;
    height: 100%;
    padding-right: 17px;
    box-sizing: content-box;
}

.logo {
    margin-right: 30px;
}

.search {
    width: 500px;
    margin-top: 13.5px;
}

.input-search {
    background-color: #8B7280;
    color: white;
    border-color: #8B7280;
}

.category a:hover {
    background-color: #ffc357 !important;
}

.input-search:focus {
    background-color: #8B7280;
    color: white;
    border-color: #8B7280;
    box-shadow: none;
    outline: 0 none;
}

.input-search::placeholder {
    opacity: 0.9;
    font-weight: lighter;
    color: whitesmoke !important;
}

.image-campagn-banner {
    height: 90%;
    width: 100%;
    margin-top: 5%;
}

.about {
    background: black;
    text-align: center;
}

.main-donate-layer {
    height: 680px;
}

.img-detail {
    background-position: center;
    width: 100%;
    height: 65% !important;
}

.avatar-thumbnail {
    margin-top: -100px;
}

.gender-select:checked {
    color: #fff;
    border-color: #7B1FA2;
    background-color: #ffc357  !important;
}


.edit-text{
    position: absolute;
    border-radius: 100%;
    padding: 5px 10px;
    top:40%;
    right:38%;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    .arrow-profile {
        margin-left: 55px;
    }
}

@media only screen and (max-width: 1000px) {
    .main-content {
        width: 100%;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .donation-title {
        font-size: 15px;
    }

    .main-donate-layer {
        height: 650px;
    }

    .edit-text{
        position: absolute;
        border-radius: 100%;
        padding: 5px 10px;
        top:45%;
        right:36%;
        cursor: pointer;
    }
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}


